body    {
    margin: 0;
    padding: 0;
}
.main   {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1%;
    height: 90vh;
    background: linear-gradient(#ff0000, #0000ff);
    border-radius: 32px;
}
.main div   {
    font-size: 32px;
    text-align: center;
    font-weight: bold;
}
.pedestrian {
    color: #256aff;
}
.sos    {
    color: #ec0400;
}
#image1   {
    height: 40vh;
}
.main * {
    background: #ffffff80;
    border-radius: 8px;
}
.main a {
    font-size: 25px;
    padding: 1%;
}